<div class="shadow-lg p-3 mb-5 bg-light rounded">
  <h3>Item categories</h3>
</div>

<div class="container">
  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category, class: "list-group-item list-group-item-action list-group-item-light font-weight-bold" %>
    <% end %>
  </div>
</div>