<div class="container mt-5">
  <div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your Order has been successfully completed.</strong></p>
    <hr>
    <p class="lead">
      <%= link_to 'Continue to homepage', root_path, class: "btn btn-primary btn-sm" %>
    </p>
  </div>
</div>